<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.norbi930523.manutdapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.news.ArticleDetailsActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.players.PlayerDetailsActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <service
            android:name=".service.DataLoaderIntentService"
            android:exported="false" />

        <provider
            android:name=".database.generated.NewsProvider"
            android:authorities="com.udacity.norbi930523.manutdapp.news"
            android:exported="false" />
        <provider
            android:name=".database.generated.PlayersProvider"
            android:authorities="com.udacity.norbi930523.manutdapp.players"
            android:exported="false" />
        <provider
            android:name=".database.generated.FixturesProvider"
            android:authorities="com.udacity.norbi930523.manutdapp.fixtures"
            android:exported="false" />

        <service
            android:name=".service.CalendarSyncIntentService"
            android:exported="false" />

        <receiver android:name=".widget.NextMatchWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/next_match_widget_info" />
        </receiver>

        <service
            android:name=".service.NextMatchWidgetUpdateService"
            android:exported="false"></service>
    </application>

</manifest>